.ui-about {
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-color);

  .box {
    background-color: var(--tri-color);
    display: inline-block;
    border-radius: 4px;
    color: var(--secondary-color);
    position: relative;
    b {
      font-size: 330px;
      position: relative;
      top: -38px;
      right: -34px;
      // color: var(--secondary-color);
    }
    label {
      width: 100%;
      text-align: center;
      // color: var(--text-color);
      display: block;
    }
    // p {
    //   position: relative;
    //   bottom: -5px;
    //   left: 0px;
    //   color: var(--text-color);
    // }
  }
}

.ui-layout:has(div.ui-about) {
  // --text-color: rgb(255, 255, 255);
  --text-color: rgb(255, 255, 255, 0.7);
}
// .ui-layout {
//   --secondary-color: red;
//   --primary-color: #f5cba7;
// }

.ui-about {
  pointer-events: none;
  .box {
    pointer-events: auto;
  }
  // &:hover {
  //   background-color: blueviolet;
  // }
  .ui-pointer {
    --secondary-color: red !important;
    --primary-color: #f5cba7 !important;
  }
}
.experience {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  h1 {
    color: var(--primary-color);
  }
  .signature svg {
    path {
      fill: var(--primary-color);
    }
  }
}
