// Nav style starts //
.ui-nav {
  width: auto;
  height: 100%;
  position: fixed;
  bottom: 0px;
  left: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  ul {
    width: auto;
    height: auto;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    //border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    border-radius: 50px;
    // background-color: #fff;
    padding: 6px 6px;
    li {
      list-style: none;
      a {
        // width: auto;
        // background-color: transparent;
        margin: 0px 0px 16px 0px;
        &.active {
          background-color: var(--tri-color);
        }
        svg {
          width: 20px;
        }
      }
      &:last-child {
        a {
          margin: 0px;
        }
      }
    }
  }
}
