// Nav style starts //
.ui-nav {
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;

  ul {
    width: auto;
    height: auto;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    // li {
    //   list-style: none;
    //   padding: 2px;
    //   a {
    //     width: auto;
    //     background-color: var(--secondary-color);
    //     padding: 12px;
    //     border-radius: 4px;
    //     margin: 0px;
    //   }
    // }
    li {
      list-style: none;
      a {
        width: auto;
        background-color: transparent;
        margin: 0px;
        button {
          display: flex;
          flex-direction: row-reverse;
          img {
            margin: 0px 10px 0px 0px;
          }
        }
      }
      &:last-child {
        a button {
          margin: 0px;
        }
      }
    }
  }
}
