// Nav style starts //
.ui-nav {
  width: auto;
  height: 100%;
  position: fixed;
  top: 10%;
  left: 10px;

  ul {
    width: 100%;
    height: 80%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 50px;
    li {
      list-style: none;
      margin-bottom: 22px;
      padding: 2px;
      a {
        background-color: var(--secondary-color);
        padding: 12px;
        border-radius: 4px;
      }
    }
  }
}
