.ui-layout:has(div.ui-contact) {
  background-color: var(--black);
  color: rgb(255, 255, 255);
  --btn-icon-color: #ffc448;
  --btn-icon-hover-color: #fff;
}
.ui-contact {
  svg {
    // width: 36px;
    // height: 36px;
    path {
      width: 36px;
      height: 36px;
      //fill: #fff;
    }
  }

  .circleText {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: var(--yellow);

    position: relative;
    padding: 15px;
    animation: rotate 10s linear infinite;
    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(180deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    p {
      position: relative;
      margin-top: 0;
      padding: 25px;
      span {
        position: absolute;
        left: 50%;
        font-size: 14px;
        transform-origin: 0 60px;
        scale: 1.2;
        color: var(--blue);
        font-weight: bold;
      }
    }
  }
  .mainLayout {
    height: 100%;
    display: flex;
    flex-direction: column;
    .bottomText {
      label {
        padding: 15px 20px 15px 30px;
        font-size: 14px;
        opacity: 0.5;
      }
      button {
        font-size: 24px;
        pointer-events: auto;
        color: #fff;
      }
    }
    .box-contact {
      h1 {
        font-size: 48px;
        margin-bottom: 18px;
      }
      p {
        font-weight: 300;
        line-height: 32px;
        color: hsla(0, 0%, 100%, 0.7);
      }
      label {
        display: block;
        color: hsla(0, 0%, 100%, 0.5);
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  }
}
// button {
//   width: 50px;
//   height: 50px;
//   padding: 0px;
//   border-radius: 50px;
//   background-color: transparent;
//   svg {
//     width: 50px;
//   }
//   &:hover {
//     svg {
//       fill: var(--primary-color);
//     }
//   }
// }
