.ui-layout:has(div.ui-review) {
  background-color: var(--light-gray);
}
.ui-review {
  background-color: var(--light-gray);

  .hori_center {
    display: none;
    // animation: slideOut 2s linear;
    &.active {
      display: flex;
      // animation: slideIn 2s linear;
    }
  }
  .experience {
    padding: 75px;
    .box {
      width: 200px;
      height: 200px;
      background-color: var(----white);
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(200%);
    display: flex;
  }

  100% {
    transform: translateX(0);
  }
}
