.ui-layout {
  --primary-color: #1abc9c;
  --secondary-color: #f5cba7;
  --text-color: #ffffff;
  --button-hover: #000000;
  --light-gray: #f6f6f6;
}
.ui-layout[data-theme="dark-theme"] {
  --primary-color: #03211b;
}
