.logo {
  position: fixed;
  left: 18px;
  top: 32px;
  cursor: pointer;
  pointer-events: all;
  z-index: 1000;

  svg {
    pointer-events: none;

    path {
      fill: var(--nav-bg-active);
    }
  }
}

.ui-experience + .logo svg path {
  fill: #000;
}
