.ui-pointer {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: var(--yellow);
  position: relative;
  pointer-events: none;
  transition: scale 0.4s ease-in;
  z-index: 9999;

  .ui-slowPointer {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    border: 3px solid var(--yellow);
    pointer-events: none;
  }
}

/* Hide custom cursor on mobile / tablet and touch devices */
@media (pointer: coarse), (max-width: 1023px) {
  .ui-pointer,
  .ui-slowPointer {
    display: none !important;
    visibility: hidden !important;
    transition: scale 0.4s ease-in;
  }
}

body:has(
    button:hover,
    a:hover,
    [role="button"]:hover,
    input[type="submit"]:hover,
    input[type="button"]:hover
  )
  .ui-slowPointer {
  display: none !important;
  visibility: hidden !important;
}

main {
  pointer-events: none;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .form-element {
    height: auto;
    min-height: 48px;
  }
  &:hover ~ .ui-pointer {
    background-color: var(--yellow);
    opacity: 0.6;
    scale: 12;
    transition: scale 0.5s ease-in;
    .ui-slowPointer {
      opacity: 0;
      scale: 0;

      display: none !important;
      visibility: hidden !important;
    }
  }
}
main a,
main button,
main input,
main textArea {
  pointer-events: auto;
}
@media (max-width: 1024px) and (pointer: fine) {
  main {
    height: auto;
    overflow: auto;
    margin-bottom: 100px;
    &:hover ~ .ui-pointer {
      scale: 6;
      background-color: var(--yellow);
      opacity: 0.5;
      transition: scale 0.4s ease-in;
    }
  }
}
